

</div>
    <h1>Que haces {{user.name}} {{last_name}}. Todo tranqui, maquinola!!!</h1>
    {{#if isAdmin}}
        {{#each food}}
            <div>
                <p>{{<this.name}}</p>
                <p>{{this.price}}</p>
            </div>
        {{/each}}
    {{else}}
    <p>No tenes permisos para ver esto, maquinola</p>
    {{/if}}
</div>